:root {
  --hue: 210;
  --saturation: 2%;
  --lightness: 7%;

  --surface-1: hsl(var(--hue) var(--saturation) var(--lightness));
  --surface-2: hsl(var(--hue) var(--saturation) calc(var(--lightness) * 1.1));

  --text-color-1: hsl(var(--hue) var(--saturation) 87%);
  --text-color-2: hsl(var(--hue) 5% 50%);
  --text-color-3: hsl(var(--hue) 10% 35%);

  --brand-color-1: hsl(var(--hue) 40% 60%);
  --brand-color-2: hsl(calc(var(--hue) * 1.5) 95% 75%);
  --brand-color-3: hsl(calc(var(--hue) * 1.2) 85% 80%);

  /* https://easings.net */
  --easing: ease-out-expo;
}