.text_color-1 { color: var(--text-color-1); }
.text_color-2 { color: var(--text-color-2); }
.text_color-3 { color: var(--text-color-3); }

.brand_color-1 { color: var(--brand-color-1); }
.brand_color-2 { color: var(--brand-color-2); }
.brand_color-3 { color: var(--brand-color-3); }

.surface-1 { color: var(--surface-1); }
.surface-2 { color: var(--surface-2); }
