main { perspective: 30px; }
/* slides { perspective: 50px; } */

h1 { transform: translateZ(5px); }
pre { transform: translateZ(10px); }
a { transform: translateZ(2px); }
button { transform: translateZ(3px); }
h2 { transform: translateZ(-10px); }