[v-list] {
  display: grid;
  gap: 1.5vmax;
}

[h-list] {
  display: grid;
  gap: 1.5vmax;
  grid-auto-flow: column;
  align-items: center;
  justify-content: flex-start;
}

[h-list], [v-list] {
  &[center] { place-content: center; }
  &[bottom] { align-items: flex-end; }
  &[top]    { align-items: flex-start; }
}
