[stack], slyd {
  display: grid;
  justify-items: center;
  align-content: center;
  gap: var(--spacing-1);
}

[shelf] {
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  align-content: center;
  gap: var(--spacing-3);

  @media (orientation: portrait) {
    grid-auto-flow: row;
  }
}

[split] {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: column;
}
