main {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100vw;
  grid-template-rows: 100vh;

  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-x: contain;
  
  scroll-snap-type: x mandatory;

  & > * {
    scroll-snap-align: center;
    scroll-snap-stop: always;
  }
}
