slides {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: 100vh;
  grid-template-columns: 100vw;
  
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  
  scroll-snap-type: y mandatory;

  & > * {
    scroll-snap-align: center;
    scroll-snap-stop: always;
    transform-style: preserve-3d;
  }
}