slyd {
  width: 100vw;
  height: 100vh;
  position: relative;
  text-align: center;

  &:focus:not(:focus-visible) { 
    outline: none;
  }

  --darkness: 50%;

  background-image: 
    radial-gradient(circle, hsla(0,0%,0%,var(--darkness)) 0%, hsla(0,0%,0%,var(--darkness)) 100%),
    var(--image);
  background-position: center center;
  background-size: cover;

  &[slow-zoom] {
    &[slyd-active="true"] {
      transition: transform 20s cubic-bezier(0.51, 0.01, 0.68, 0.99);
      transform: translateZ(2px);
      transform-style: preserve-3d;
    }  
  }

  & > h1:first-child,
  & > h2:first-child,
  & > h3:first-child {
    color: var(--text-color-1);
  }

  & > picture:only-child { padding: 0 10vw; }
}