slyd {
  height: 100vh;
  display: grid;
  place-items: center;
  grid-auto-flow: row;
  text-align: center;
  overflow: hidden;
  position: relative;

  &:focus:not(:focus-visible) { 
    outline: none;
  }

  --darkness: 50%;

  background-image: 
    radial-gradient(circle, hsla(0,0%,0%,var(--darkness)) 0%, hsla(0,0%,0%,var(--darkness)) 100%),
    var(--image);
  background-position: center center;
  background-size: cover;

  &[slow-zoom] {
    &[active="true"] {
      transition: transform 20s cubic-bezier(0.51, 0.01, 0.68, 0.99);
      transform: translateZ(2px);
      transform-style: preserve-3d;
    }  
  }

  /* spacing management of children */
  & > [v-list] { padding: 0 1rem; }
  & > [h-list] { padding: 0 10vw; }
  & > picture:only-child { padding: 0 10vw; }
}