slyds {
  background: var(--surface-1);
  color: var(--text-color-1);
  font-family: var(--sans-serif);

  /* snapping grid layout */
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100vw;
  grid-template-rows: 100vh;

  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-x: contain;
  scrollbar-color: light;
  -webkit-scrollbar-color: light;
  
  scroll-snap-type: x mandatory;

  & > * {
    scroll-snap-align: center;
    scroll-snap-stop: always;
  }
}
