slyd {
  height: 100vh;
  display: grid;
  place-items: center;
  grid-auto-flow: row;
  text-align: center;
  overflow: hidden;
  position: relative;

  line-height: 1.5;
  font-weight: 200;
  --fluid-type-min-size: 1.25;
  --fluid-type-max-size: 2.5;
  --fluid-type-min-screen: 20;
  --fluid-type-max-screen: 88;

  font-size: calc(
    (var(--fluid-type-min-size) * 1rem) + (var(--fluid-type-max-size) - var(--fluid-type-min-size)) * (100vw - (var(--fluid-type-min-screen) * 1rem)) /
      (var(--fluid-type-max-screen) - var(--fluid-type-min-screen))
  );

  @media (orientation: landscape) {
    --fluid-type-min-size: 1;
    --fluid-type-max-size: 2.25;
  }

  &:focus:not(:focus-visible) { 
    outline: none;
  }

  --darkness: 50%;

  background-image: 
    radial-gradient(circle, hsla(0,0%,0%,var(--darkness)) 0%, hsla(0,0%,0%,var(--darkness)) 100%),
    var(--image);
  background-position: center center;
  background-size: cover;

  &[slow-zoom] {
    &[active="true"] {
      transition: transform 20s cubic-bezier(0.51, 0.01, 0.68, 0.99);
      transform: translateZ(2px);
      transform-style: preserve-3d;
    }  
  }

  /* spacing management of children */
  & > [v-list] { padding: 0 1rem; }
  & > [h-list] { padding: 0 10vw; }
  & > picture:only-child { padding: 0 10vw; }
  & video { width: 100%; height: 100%; object-fit: contain; }
}