a {
  display: inline-block;
  color: var(--brand-color-2);
}

h1, h2 {
  margin: 0;
  padding: 0;
}

/* https://andy-bell.design/wrote/custom-property-controlled-fluid-type-sizing/ */
h1 {
  --fluid-type-min-size: 4;
  --fluid-type-max-size: 8;
  --fluid-type-min-screen: 20;
  --fluid-type-max-screen: 80;

  font-weight: lighter;
  letter-spacing: 0.2em;
  color: var(--text-color-1);

  font-size: calc(
    (var(--fluid-type-min-size) * 1rem) + (var(--fluid-type-max-size) - var(--fluid-type-min-size)) * (100vw - (var(--fluid-type-min-screen) * 1rem)) /
      (var(--fluid-type-max-screen) - var(--fluid-type-min-screen))
  );
}

h2 {
  --fluid-type-min-size: 2;
  --fluid-type-max-size: 4;
  --fluid-type-min-screen: 20;
  --fluid-type-max-screen: 88;

  font-weight: normal;
  color: var(--text-color-2);

  font-size: calc(
    (var(--fluid-type-min-size) * 1rem) + (var(--fluid-type-max-size) - var(--fluid-type-min-size)) * (100vw - (var(--fluid-type-min-screen) * 1rem)) /
      (var(--fluid-type-max-screen) - var(--fluid-type-min-screen))
  );
}