video {
  object-fit: contain;

  &[full-width] {
    inline-size: 100%;
  }

  &[full-height] {
    block-size: 100%;
  }

  &[cover] {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
  }

  &[background-video] {
    position: absolute;
    inset: 0;
  }
}